# AWS / Cloud
boto3==1.34.162
botocore==1.34.162

# Authentication & Security
python-jose[cryptography]==3.3.0

# Validation & Data Models
pydantic>=2.6,<2.7
typing-extensions>=4.8.0
validators==0.22.0

# HTTP / Networking
requests==2.32.3
python-dateutil==2.8.2

# Environment & Config
python-dotenv==1.0.1
